<!DOCTYPE html>
  <html>
    <head>

    </head>

    <body>
    
   
      {% block body %}

      <div class="container" >
       <!-- <div class="row">
          <div class="col s12"> 
             <div class="progress">
                <div class="indeterminate"></div>
            </div>
          </div>
        </div>
        -->
      
        <!-- linha 1 -->
        <div class="row">
          <div class="col s12 m6">
            <h4 class="header">3.0.1 SP to 3.0.1 P</h4>
              <ul class="collection">
                {% for aux in logs['/3.0.1/servicepack to 3.0.1/producao'] %}
                  <li class="collection-item avatar">
                    <i class="material-icons circle green">directions_run</i>
                    <span class="title  flow-text">{{aux.autor}}</span>
                    <p>{{ '{0} - {1} ({2})'.format(aux.description, aux.branch, aux.date_relative) }}</p>
                  </li>
                {% endfor %}
              </ul>   
           </div>
          <div class="col s12 m6">
            <h4 class="header">3.0.1 SP to 3.0.3 SP</h4>
            <ul class="collection">
              {% for aux in logs['/3.0.1/servicepack to 3.0.3/servicepack'] %}
                <li class="collection-item avatar">
                  <i class="material-icons circle blue">directions_run</i>
                  <span class="title  flow-text">{{aux.autor}}</span>
                    <p>{{ '{0} - {1} ({2})'.format(aux.description, aux.branch, aux.date_relative) }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <!-- linha 2 -->
        <div class="row">
          <div class="col s12 m6">
            <h4 class="header">3.0.3 SP to 3.0.3 P</h4>
              <ul class="collection">
                {% for aux in logs['/3.0.3/servicepack to 3.0.3/producao'] %}
                  <li class="collection-item avatar">
                    <i class="material-icons circle red">directions_run</i>
                    <span class="title  flow-text">{{aux.autor}}</span>
                    <p>{{ '{0} - {1} ({2})'.format(aux.description, aux.branch, aux.date_relative) }}</p>
                  </li>
                {% endfor %}
              </ul>   
           </div>
          <div class="col s12 m6">
            <h4 class="header">3.0.3 SP to 3.1.0 SP</h4>
            <ul class="collection">
              {% for aux in logs['/3.0.3/servicepack to 3.1.0/servicepack'] %}
                <li class="collection-item avatar">
                  <i class="material-icons circle blue-grey">directions_run</i>
                  <span class="title  flow-text">{{aux.autor}}</span>
                    <p>{{ '{0} - {1} ({2})'.format(aux.description, aux.branch, aux.date_relative) }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>        
         
        
        <div class="row">
          <div class="col s12">
            <h4 class="header">3.1.0 SP to master</h4>
            <ul class="collection">
              {% for aux in logs['/3.1.0/servicepack to master'] %}
                <li class="collection-item avatar">
                  <i class="material-icons circle orange">directions_run</i>
                  <span class="title  flow-text">{{aux.autor}}</span>
                    <p>{{ '{0} - {1} ({2})'.format(aux.description, aux.branch, aux.date_relative) }}</p>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        
      </div> 

      {% endblock %}

    </body>      
  </html>