<!DOCTYPE html>
  <html>
    <head>

    </head>

    <body>
    
      <script>
          function unhide(divID) {
            var x = document.getElementById(divID).getElementsByClassName("collection-item avatar hide");
            var i;
            
            for (i = 0; x.length >= 0; i++) {
                x[0].className='collection-item avatar';
            }
          }
          
      </script>
   
      {% block body %}

      <div class="container" >
      	{% for branch in branch_logs %}

      		{% if (loop.index % 2 == 0) %}
      			<div class="row">
      		{% endif %}
      				<div class="col s12 m6">

						<h4 class="header">{{ branch.description }}
							<a href="#!" onclick="unhide('{{ branch.destiny }}');return false;" >
							<span class="new badge" data-badge-caption="Pendentes">{{ branch.comits|count }}</span></a>
						</h4>

						<ul class="collection">
							<div id="{{ branch.destiny }}">
							{% for comits in branch.comits %}
				                 
			                  <li class="collection-item avatar {{'hide' if loop.index > 2 else ''}}">
			                    <i class="material-icons circle {{ '{0}'.format(branch.color) }}">directions_run</i>
			                    <span class="title  flow-text">{{comits.autor}}</span>
			                    <p>{{ '{0} - {1} ({2})'.format(comits.description, comits.branch, comits.date_relative) }}</p>
			                  </li>

							{% endfor%}
							</div>
						</ul>

      				</div> <!-- coluna -->
          {% if (loop.index % 2 == 0) %}
      			</div> <!-- row -->
      		{% endif %}
      	{% endfor %}
      </div> <!-- container -->
        

      {% endblock %}


    </body>      
  </html>